# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# IDE / Editor
.vscode/
.idea/
*.swp
*.sublime-*

# OS generated
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Keep Subfolder
cache/**